.chartContainer{
    background-color: #fff;
    border-radius: 10px;
    margin-left: 50px;
    box-shadow: 0 4px 8px rgba(5, 5, 214, 0.1);
    width: 1000px;

    #chart{
        padding: 30px;
    }
    
}