.infoContainer{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    width: 500px;
    .companyName{
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -1px;
        
    }
    .bottom{
        display: flex;
        .infoWrapper{
            display: flex;
            border: 1px solid grey;
            padding: 20px;
            border-radius: 10px;
            gap: 100px;

        }
        .companyAbout{
            padding-left: 5px;
        }
    }

}